/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** Ultra Light */
@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff");
}
/** Thin */
@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
}
/** Regular */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
/** Medium */
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
}
/** Semi Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
}
/** Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'San Francisco', 'Roboto', sans-serif;
  color: white;
  font-weight: 500;
}
body {
  background: #fff6e3;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'San Francisco', 'Roboto', sans-serif;
  color: white;
}
h1 {
  font-size: 4.6rem;
  font-weight: 700;
  line-height: 5.2rem;
}
h2 {
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 3.4rem;
}
h3 {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 3.4rem;
}
p {
  font-size: 2rem;
  line-height: 1.4;
}
a {
  text-decoration: none;
}
a:link {
  color: #1356A4;
}
a:visited {
  color: #1356A4;
}
a:hover {
  color: #1356A4;
}
a:active {
  color: #1356A4;
}
.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  background: white;
}
.nav-bar {
  position: fixed;
  height: 80px;
  max-width: 1024px;
  width: 100%;
  top: 0;
  background: white;
  box-shadow: 0px 4px 10px -8px #083a72;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  z-index: 3;
}
.nav-bar .logo-wrapper {
  width: auto;
  height: 40px;
  margin: 18px 5px 0 10px;
  align-self: flex-start;
}
.nav-bar .logo-wrapper .logo {
  margin: 0 20px;
  height: 40px;
  flex-grow: 0;
}
.nav-bar .nav-menu-desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  width: 400px;
  height: auto;
  padding-top: 20px;
  font-size: 2rem;
  padding-right: 30px;
}
.nav-bar .nav-menu-desktop a {
  padding-bottom: 4px;
  border-bottom: 3px solid rgba(255, 255, 255, 0);
  transition: border 0.5s;
}
.nav-bar .nav-menu-desktop a:hover {
  border-bottom: 3px solid #b6f076;
}
.nav-bar .nav-menu-mobile {
  font-size: 2rem;
  display: none;
  position: static;
  width: 100%;
  height: 290px;
  padding: 0;
  margin: 1%;
  background: #1356A4;
  border-radius: 10px;
  transform: scaleY(1);
  opacity: 1;
  transition: transform 0.3s, height 0.3s, opacity 0.3s;
  z-index: 2;
}
.nav-bar .nav-menu-mobile a {
  color: white;
  text-align: start;
  font-weight: bold;
  width: 100%;
  line-height: 2rem;
  padding: 25px 30px;
  border-bottom: 4px solid white;
  border-radius: 10px;
}
.nav-bar .hamburger {
  display: none;
  height: 70px;
  width: auto;
  padding: 20px 28px 8px;
  cursor: pointer;
}
@media (max-width: 600px) {
  .nav-bar {
    position: static;
    flex-wrap: wrap;
    height: auto;
  }
  .nav-bar .nav-menu-desktop {
    display: none;
  }
  .nav-bar .nav-menu-mobile {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-flow: column;
  }
  .nav-bar .nav-menu-mobile.mobile-inactive {
    height: 0;
    opacity: 0;
    transform: scaleY(0.2);
    transition: transform 0.3s, height 0.3s, opacity 0.3s;
  }
  .nav-bar .hamburger {
    display: block;
  }
}
@media (max-width: 420px) {
  .nav-bar .logo-wrapper {
    width: 140px;
  }
  .nav-bar .logo-wrapper .logo {
    margin: 0 10px;
    width: 180px;
    height: auto;
  }
}
.home.container .CTA {
  position: relative;
  background: #ebebeb;
  background: linear-gradient(322deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.4) 58%, rgba(0, 0, 0, 0.9) 100%), url("../ASSETS/IMG/Lunch-Child.png") no-repeat;
  background-size: 1044px;
  background-position: 50% 30%;
  margin-top: 80px;
  object-fit: cover;
  width: 100%;
  height: auto;
  user-select: none;
}
.home.container .CTA .null {
  width: 100%;
  height: auto;
  min-height: 380px;
}
.home.container .CTA .text-box {
  position: absolute;
  top: 13%;
  left: 28px;
}
.home.container .CTA .text-box h1 {
  display: inline-block;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.home.container .CTA .text-box .title2 {
  text-indent: 1.2rem;
}
.home.container .CTA .button-box {
  position: absolute;
  width: 460px;
  top: 26%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
}
.home.container .CTA .button-box .donate-btn {
  font-size: 2rem;
  font-weight: bold;
  padding: 15px 60px;
  color: #1356A4;
  background: #b6f076;
  border-radius: 10px;
  border-top: 2px solid darkgrey;
  border-left: 2px solid darkgrey;
  border-bottom: 3px solid grey;
  border-right: 3px solid grey;
}
.home.container .CTA .button-box .donate-btn:focus {
  outline: 0;
}
.home.container .CTA .button-box .donate-btn:active {
  border-top: 3px solid grey;
  border-left: 3px solid grey;
  border-bottom: 2px solid darkgrey;
  border-right: 2px solid darkgrey;
}
@media (max-width: 800px) {
  .home.container .CTA {
    margin-top: 80px;
    background-size: 800px;
  }
  .home.container .CTA .text-box {
    top: 110px;
    left: 50px;
  }
  .home.container .CTA .text-box .title2 {
    text-indent: 1rem;
    display: block;
  }
  .home.container .CTA .button-box {
    top: 230px;
    width: 370px;
  }
  .home.container .CTA .button-box .donate-btn {
    padding: 20px 100px;
  }
}
@media (max-width: 600px) {
  .home.container .CTA {
    margin-top: 0;
    background-size: 600px;
  }
  .home.container .CTA .text-box {
    left: 30px;
  }
  .home.container .CTA .text-box .title2 {
    text-indent: 1rem;
    display: block;
  }
  .home.container .CTA .button-box {
    width: 370px;
  }
  .home.container .CTA .button-box .donate-btn {
    padding: 20px 100px;
  }
}
@media (max-width: 600px) and (max-width: 420px) {
  .home.container .CTA .button-box {
    width: 90%;
  }
  .home.container .CTA .button-box .donate-btn {
    padding: 20px 25%;
  }
}
.home.container .main-content {
  background: #1356A4;
  background-image: url(../ASSETS/IMG/BG_circles.jpg);
  background-size: 100%;
  padding: 40px 0;
}
.home.container .main-content .middle-content {
  width: 85%;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
}
.home.container .main-content .middle-content img {
  width: 40%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}
.home.container .main-content .middle-content p {
  padding: 20px 40px;
  background: #1356A4;
  border: 4px solid #b6f076;
  border-radius: 5px;
  width: 50%;
}
.home.container .main-content .middle-content.row1 {
  align-items: flex-start;
}
.home.container .main-content .middle-content.row1 img {
  object-position: 40% 100%;
}
.home.container .main-content .middle-content.row2 {
  align-items: flex-end;
}
.home.container .main-content .middle-content.row2 img {
  object-position: 50% 30%;
}
@media (max-width: 800px) {
  .home.container .main-content .middle-content img {
    display: none;
  }
  .home.container .main-content .middle-content p {
    width: 100%;
  }
}
.home.container .bottom-slogan {
  color: black;
  text-align: center;
  background: #b6f076;
  padding: 20px 0;
}
.home.container .bottom-slogan span {
  white-space: nowrap;
}
.about.about-team {
  padding-top: 120px;
  background: #1356A4;
  background-image: url(../ASSETS/IMG/BG_circles.jpg);
  background-size: 100%;
  padding-bottom: 60px;
}
.about.about-team .section-title {
  color: white;
  text-align: center;
  margin-bottom: 15px;
}
.about.about-team .about-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
.about.about-team .about-cards .about-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  position: relative;
  width: 280px;
  height: 200px;
  background: #213863;
  border: 4px solid #b6f076;
  border-radius: 5px;
  margin: 20px;
  overflow: hidden;
  z-index: 1;
}
.about.about-team .about-cards .about-card .text-content {
  align-self: flex-end;
  padding: 30px 15px 20px 0;
  text-align: end;
  z-index: 3;
}
.about.about-team .about-cards .about-card .text-content h3 {
  padding-bottom: 12px;
  line-height: 2.8rem;
}
.about.about-team .about-cards .about-card .text-content p {
  font-size: 1.6rem;
}
.about.about-team .about-cards .about-card .img-content {
  z-index: 3;
}
.about.about-team .about-cards .about-card .img-content img {
  padding: 10px;
  margin-left: -25px;
  margin-top: 30px;
  width: 160px;
  height: 270px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  object-fit: cover;
  object-position: 50% 15px;
}
.about.about-team .about-cards .about-card .bg-circle-1 {
  position: absolute;
  left: 50px;
  top: 20px;
  width: 600px;
  height: 200px;
  background: #22458f;
  border-radius: 50%;
  z-index: 2;
}
.about.about-team .about-cards .about-card .bg-circle-2 {
  position: absolute;
  left: 50px;
  top: 0px;
  width: 800px;
  height: 400px;
  background: #3760b8;
  border-radius: 50%;
  z-index: 2;
}
@media (max-width: 600px) {
  .about.about-team {
    padding-top: 40px;
  }
}
.spacer {
  height: 30px;
  background: #b6f076;
}
.donate.main-content {
  padding: 80px 30px;
}
.donate.main-content .search-bar {
  padding: 30px 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  color: #1356A4;
}
.donate.main-content .search-bar p {
  font-size: 2.2rem;
  font-weight: bold;
}
.donate.main-content .content-boxes .content-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.donate.main-content .content-boxes .content-box .inner-box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: column;
  width: 282px;
  height: 132px;
  border: 2px solid #1356A4;
}
.donate.main-content .content-boxes .content-box .inner-box p {
  padding: 0 12px;
  font-size: 1.6rem;
  line-height: 2rem;
  color: black;
}
.donate.main-content .content-boxes .content-box .inner-box p.school-name {
  padding-top: 12px;
}
.donate.main-content .content-boxes .content-box .inner-box p.amount {
  padding-bottom: 12px;
  align-self: center;
  color: #1356A4;
  font-size: 2.2rem;
}
.donate.main-content .content-boxes .content-box button {
  margin: 10px ;
  font-size: 2rem;
  font-weight: bold;
  width: 175px;
  height: 40px;
  color: #1356A4;
  background: #b6f076;
  border-radius: 10px;
  border-top: 2px solid darkgrey;
  border-left: 2px solid darkgrey;
  border-bottom: 3px solid grey;
  border-right: 2px solid grey;
}
.donate.main-content .content-boxes .content-box button:focus {
  outline: 0;
}
.donate.main-content .content-boxes .content-box button:active {
  border-top: 3px solid grey;
  border-left: 2px solid grey;
  border-bottom: 2px solid darkgrey;
  border-right: 2px solid darkgrey;
}
@media (max-width: 600px) {
  .donate.main-content {
    padding-top: 0px;
  }
}
footer {
  width: 100%;
  height: auto;
  background: #1356A4;
  background-image: url(../ASSETS/IMG/BG_circles.jpg);
  background-size: 100%;
  padding: 20px 0 10px;
}
footer .footer-top {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-flow: row wrap;
  text-align: left;
  color: white;
}
footer .footer-top h3 {
  color: #b6f076;
  font-size: 2rem;
}
footer .footer-top p {
  font-size: 1.4rem;
}
footer .footer-top .fas,
footer .footer-top .fab {
  display: inline-block;
  font-size: 2.2rem;
  color: #1356A4;
  background: #b6f076;
  padding: 0 4px;
  margin-bottom: 5px;
  border-radius: 5px;
  line-height: 3rem;
}
footer .footer-top .footer-box {
  margin: 10px 10px 0;
}
footer .footer-top .footer-box:first-child {
  margin-top: 10px;
}
footer .footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  margin-top: 30px;
}
footer .footer-bottom p {
  font-size: 1rem;
  margin: 0 25px;
}
