/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
  color: black;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto', sans-serif;
  color: black;
}
h1 {
  font-size: 4.6rem;
  font-weight: bolder;
  line-height: 5.2rem;
  letter-spacing: 0.2rem;
}
h2 {
  font-size: 2.8rem;
  font-weight: bold;
  line-height: 3.4rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 2rem;
  line-height: 1.4;
}
a {
  text-decoration: none;
}
a:link {
  color: #1356A4;
}
a:visited {
  color: #1356A4;
}
a:hover {
  color: #1356A4;
}
a:active {
  color: #1356A4;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.nav-bar {
  position: fixed;
  height: 80px;
  max-width: 1000px;
  width: 100%;
  top: 0;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  z-index: 3;
}
.nav-bar .logo {
  margin: 0 20px;
  height: 40px;
  flex-grow: 0;
}
.nav-bar nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  width: 400px;
  height: 100%;
  padding-top: 20px;
  font-size: 2rem;
  padding-right: 30px;
  flex-grow: 0;
}
@media (max-width: 700px) {
  .nav-bar {
    position: static;
    height: 170px;
  }
  .nav-bar .logo {
    padding: 0 20px;
    margin: 0 auto;
  }
  .nav-bar nav {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-flow: column;
    height: 98%;
    padding: 0;
    margin: 1% 2px;
    border: 2px solid #1356A4;
    background: #1356A4;
    border-radius: 10px;
  }
  .nav-bar nav a {
    color: white;
    text-align: end;
    width: 100%;
    padding-right: 40px;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
    border-radius: 10px;
  }
  .nav-bar nav a:last-child {
    margin-bottom: -15px;
  }
}
.container .CTA {
  position: relative;
  background: #ebebeb;
  background-image: url("../ASSETS/IMG/School-Lunch.jpg");
  background-size: 1000px;
  background-position: 0 75px;
  height: 620px;
  user-select: none;
}
.container .CTA .text-box {
  position: absolute;
  top: 25%;
  left: 25px;
}
.container .CTA .text-box h1 {
  display: inline-block;
  color: white;
}
.container .CTA .text-box .title2 {
  text-indent: 1.2rem;
}
.container .CTA .button-box {
  position: absolute;
  width: 500px;
  top: 36%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
}
.container .CTA .button-box .donate-btn {
  font-size: 2rem;
  font-weight: bold;
  padding: 10px 45px;
  color: black;
  background: #b6f076;
  border-radius: 10px;
}
.container .CTA .button-box .donate-btn:focus {
  outline: 0;
}
@media (max-width: 700px) {
  .container .CTA {
    height: 380px;
    background-size: 900px;
    background-position: 0% 0;
  }
  .container .CTA .text-box {
    top: 12%;
  }
  .container .CTA .text-box .title2 {
    text-indent: 1.2rem;
  }
  .container .CTA .button-box {
    top: 45%;
    width: 400px;
  }
  .container .CTA .button-box .donate-btn {
    padding: 20px 100px;
  }
}
@media (max-width: 700px) and (max-width: 700px) {
  .container .CTA .text-box .title2 {
    display: block;
    text-indent: 80px;
  }
}
.container .main-content {
  width: 80%;
  margin: 80px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
}
.container .main-content img {
  width: 50%;
  height: 200px;
  object-fit: cover;
}
.container .main-content p {
  width: 40%;
}
@media (max-width: 700px) {
  .container .main-content img {
    display: none;
  }
  .container .main-content p {
    width: 100%;
  }
}
.container .row1 img {
  object-position: 40% 100%;
}
.container .row2 img {
  object-position: 50% 30%;
}
.container .bottom-slogan {
  text-align: center;
  margin: 115px 0 85px;
}
.container .bottom-slogan span {
  white-space: nowrap;
}
footer {
  width: 100%;
  border: 1px solid black;
  padding: 1.8rem 0;
  text-align: center;
}
