.donate.main-content {
  padding: 80px 30px 20px;

  .search-bar {
    width: 100%;
    padding: 30px 18px 30px;

    .flex-mx(space-between);
    color: @blue;

    p {
      font-size: 2.2rem;
      font-weight: bold;
      flex-shrink: 0;
      margin-right: 30px;
      line-height: 2.4rem;
    }

    .line-break {
      .flex-mx();
      width: 100%;

      .search-input {
        position: relative;
        width: 100%;

        margin-right: 30px;
        
        .fas {
          position: absolute;
          right: 4%;
          top: 25%;
          color: grey;
          font-size: 1.5rem;
        }

        input {
          width: 100%;
          padding: 5px;
        }
      }
    }

    select {
      flex-shrink: 0;
      padding: 5px;
    }
  }

  .content-boxes {
    .flex-mx(space-around, flex-start, row wrap);
    align-content: flex-start;

    .content-box {
      .flex-mx(center, center, column);
      margin: 20px 10px;

      .inner-box {
        .flex-mx(flex-start, flex-start, column);
        width: 282px;
        height: 132px;
        border: 2px solid @blue;
        p {
          padding: 0 12px;
          font-size: 1.6rem;
          line-height: 2rem;
          color: black;
        }
        p.school-name {
          padding-top: 12px;
        }
        p.amount {
          padding-bottom: 12px;
          align-self: center;
          color: @blue;
          font-size: 2.2rem;
        }
      }
      button {
        user-select: none;
        margin: 10px ;
        font-size: 2rem;
        font-weight: bold;
        width: 175px;
        height: 40px;
        color: @link-font-color;
        background: @CTA;
        border-radius: 10px;

        &:focus {
          outline: 0;
        }

        border-top: 2px solid darkgrey;
        border-left: 2px solid darkgrey;
        border-bottom: 3px solid grey;
        border-right: 2px solid grey;

        &:active {
          border-top: 3px solid grey;
          border-left: 2px solid grey;
          border-bottom: 2px solid darkgrey;
          border-right: 2px solid darkgrey;
        }
      }
    }

    .template {
      display: none;
    }
  }

  @media @tablet {
    .search-bar{
      display: block;
      padding-left: 0;
      padding-right: 0;

      p {
        width: 100%;
        margin: 0 0 10px;;
        text-align: center;
      }

      .line-break {
        .search-input {
          margin-right: 15px;
        }
      }
    }
  }

  @media @phone {
    padding-top: 0px;
  }
}

.page-selector {
  width: 100%;
  height: 60px;
  user-select: none;

  .button-box {
    .flex-mx(center, center);

    button {
      height: 35px;
      width: 35px;
      border-radius: 0;
      border: 1px solid darkgrey;
      font-size: 16px;
    }

    .left {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      background: rgb(241, 241, 241);
      border-right: none;
    }

    .right {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      background: rgb(241, 241, 241);
    }

    .page {
      background: white;
      border-right: none;
    }

  }
}