// Fonts

// AVENIR
@font-face {
  font-family: "Avenir";
  src: url("../ASSETS/FONTS/Avenir-Roman.ttf");
}

// SAN FRANCISCO
/** Ultra Light */
@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff");
}

/** Thin */
@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
}

/** Regular */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

/** Medium */
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
}

/** Semi Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
}

/** Bold */ 
@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}


// General Styles
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html, body {
  font-family: @main-font;
  color: @main-font-color;
  font-weight: 500;
}

body {
  background: rgb(255, 246, 227)
}

h1, h2, h3, h4, h5 {
  color: @main-font-color;
}

h1 {
  font-size: 4.6rem;
  font-weight: 700;
  line-height: 5.2rem;
}

h2 {
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 3.4rem;

}

h3 {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 3.4rem;
}

p {
  font-size: 2rem;
  line-height: 1.4;
}

a {
  text-decoration: none;
  &:link {
    color: @link-font-color;
  }
  &:visited {
    color: @link-font-color;
  }
  &:hover {
    color: @link-font-color;
  }
  &:active {
    color: @link-font-color;
  }
}

button {
  font-family: @button-font;
  letter-spacing: .1rem;
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  background: @white;
}

.spacer {
  height: 50px;
  background: @seagreen;
}