.container {

    .CTA {
        position: relative;
        background: @header-bg;
        background-image: url("../ASSETS/IMG/School-Lunch.jpg");
        background-size: 1000px;
        background-position: 0 75px;

        height: 620px;
        user-select: none;

        .text-box {
            position: absolute;
            top: 25%;
            left: 25px;
            
            h1 {
                display: inline-block;
                color: white;
            }
            .title2 {
                text-indent: 1.2rem;
            }
        }
        
        .button-box{
            position: absolute;
            width: 500px;
            top: 36%;
            .flex-mx();
            .donate-btn {
                font-size: 2rem;
                font-weight: bold;
                padding: 10px 45px;
                color: @main-font-color;
                background: @CTA;
                border-radius: 10px;

                &:focus {
                    outline: 0;
                }
            }
        }

        @media @tablet {
            height: 380px;
            background-size: 900px;
            background-position: 0% 0;

            .text-box{
                
                top: 12%;

                .title2 {
                    text-indent: 1.2rem;

                    @media @tablet {
                        display: block;
                        text-indent: 80px;
                    }
                }
            }

            .button-box {
                top: 45%;
                width: 400px;

                .donate-btn {
                    padding: 20px 100px;
                }
            }
        }
    }

    .main-content {
        width: 80%;
        margin: 80px auto;
        .flex-mx(space-between);

            img {
                width: 50%;
                height: 200px;
                object-fit: cover;
            }

            p {
                width: 40%;
            }
        @media @tablet {
            img {
                display: none;
            }
            
            p {
                width: 100%;
            }

        }
    }

    .row1 img {
        object-position: 40% 100%;
    }

    .row2 img {
        object-position: 50% 30%;
    }

    .bottom-slogan {
        text-align: center;
        margin: 115px 0 85px;

        span {
            white-space: nowrap;
        }
    }
}