.nav-bar {
    position: fixed;
    height: 80px;
    width: 1000px;
    top: 0;
    background: @nav-bg;
    .flex-mx(space-between);
    .logo {
        padding-left: 20px;
        height: 80px;
    }
    nav {
        .flex-mx(space-between);
        width: 39%;
        padding-top: 20px;
        font-size: 2rem;
        padding-right: 30px;
    }
    z-index: 3;
}