// Variables

// Color pointers
@main-font-color: @white;
@main-bg: @blue;
@link-font-color: @blue;
@text-border: @seagreen;
@CTA: @seagreen;
@normal-button: @blue;
@header-bg: @grey;
@nav-bg: @white;

// Color Vars
@seagreen: #b6f076;
@blue: #1356A4;
@light-blue: rgb(33, 56, 99);
@white: white;
@black: black;
@grey: rgb(235, 235, 235);
@dark-grey: rgb(196, 196, 196);
@grey-gradient: linear-gradient(232deg, rgba(186,186,186,1) 0%, rgba(255,255,255,1) 100%);

// Mobile var
@tablet: ~"(max-width: 800px)";
@phone: ~"(max-width: 600px)";
@phone-small: ~"(max-width: 420px)";

// Fonts
@main-font: "San Francisco", "Roboto", Sans-Serif;
@button-font: "Avenir", Sans-Serif;